/*
=================================================
Custom Style For Body
=================================================
*/

.locations,
.amenities {
	height: 100%;
	width: 25%;
}
.locations {
	border-right: #DDDDDD solid 1px;
}

.container h3{
	font-weight: 600;
}

.container h4{
	font-weight: 400;
	font-size: 14px;
}
