.places {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 7px;
}

.places article {
	width: 390px;
	padding: 10px;
	margin: 10px;
	border: 1px solid #FF5A5F;
	border-radius: 4px;
	flex-direction: column;
	display: flex;
	position: relative;
	z-index: -1;;
}

.places h1 {
	font-size: 30px;
	text-align: left;
	width: 100%;
	margin-bottom: 10px;
}

.places h2 {
	font-size: 30px;
	text-align: center;
}

.price_by_night {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 30px;
	color: #FF5A5F;
	border: 4px solid #FF5A5F;
	border-radius: 50%;
	height: 60px;
	min-width: 60px;
	right: 30px;
}

.information {
	height: 80px;
	border-top: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	text-align: center;
	width: 100%;
}


.number_rooms {
	background: url("../images/icon_bed.png") 50% 20%;
}
.number_bathrooms {
	background: url("../images/icon_bath.png") 50% 20%;
}

.max_guest {
	background: url("../images/icon_group.png") 50% 20%;
}

.max_guest,
.number_bathrooms,
.number_rooms {
	background-repeat: no-repeat;
	width: 100px;
	line-height: 97px;
}

.description {
	scroll-padding-bottom: 10px;
}

.information p {
	margin-top: 10px;
}

.user p, .description p {
	margin-left: 10px;
}

.user p {
	margin-bottom: px;
}

.description p {
	margin-top: -1px;
}
